<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500italic' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/playlytics.css' />
    <link rel='stylesheet' type='text/css' href='/javascript/vendor/backbone.modal/backbone.modal.css' />
    <link rel='stylesheet' type='text/css' href='/javascript/vendor/backbone.modal/backbone.modal.theme.css' />
  </head>
  <body>
    <section id="searchbar">
      <div class="wrapper">
        Search song: <input type="text" name="search_field" class="search_field" />
        <ul class="autocomplete">
        </ul>
      </div>
    </section>

    <section id="playlytics">
      <div id="modal-wrapper"></div>
      <%= yield %>
    </section>

    <!-- VENDOR -->
    <script src="/javascript/vendor/zepto/zepto.js"></script>
    <script src="/javascript/vendor/underscore/underscore.js"></script>
    <script src="/javascript/vendor/backbone/backbone.js"></script>
    <script src="/javascript/vendor/backbone.localstorage/backbone.localstorage.js"></script>
    <script src="/javascript/vendor/backbone.modal/backbone.modal.js"></script>

    <!-- INITIALIZER -->
    <script src="/javascript/initializer.js"></script>

    <!-- LIBRARY -->
    <script src="/javascript/library/utils/milliseconds_to_time.js"></script>

    <%= yield_content :pre_js %>

    <!-- FACADE -->
    <script src="/javascript/facade/spotify.js"></script>

    <!-- MODELS -->
    <script src="/javascript/models/playlist_item.js"></script>
    <script src="/javascript/models/playlist.js"></script>

    <!-- COLLECTIONS -->
    <script src="/javascript/collections/user_playlist_items.js"></script>
    <script src="/javascript/collections/user_playlists.js"></script>

    <!-- VIEWS -->
    <script src="/javascript/views/<%=@view%>.js"></script>

    <%= yield_content :pos_js %>
  </body>
</html>
