<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500italic' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/playlytics.css' />
  </head>
  <body>
    <section id="playlytics">
      <%= yield %>
    </section>
  </body>
</html>
