<section id="action-playlists">
  <h1>My Playlists</h1>
  <a href="#add-playlist" class="playlytics-button">create playlist</a>
  <section class="playlists"></section>
</section>

<script type="text/template">
  <article>
    <img src="{{=image_url}}" width="50" height="50"/>
    <h2>{{=name}}</h2>
    <h3>{{=description}}</h3>
  </article>
</script>
