<section id="action-playlists">
  <h1>My Playlists</h1>
  <a href="/#new-playlist" class="playlytics-button">create playlist</a>
  <section class="playlists"></section>
</section>

<script type="text/template" id="template-playlist">
  <article>
    <a href="/playlist/{{id}}"><img src="{{image_url}}" width="50" height="50"/></a>
    <h2><a href="/playlist/{{id}}">{{name}}</a></h2>
    <h3><a href="/playlist/{{id}}">{{description}}</a></h3>
  </article>
</script>

<script type="text/template" id="modal-template">
  <div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">Create new Playlist</h3>
  </div>
  <div class="bbm-modal__section">
    <p>Name:</p>
    <input type="text" name="playlist_name" class="playlist_name" />

    <p>Description</p>
    <textarea name="playlist_description" class="playlist_description" ></textarea>
  </div>
  <div class="bbm-modal__bottombar">
    <a href="#" class="bbm-button">create playlist</a>
  </div>
</script>

<% content_for :pre_js do %>
  <script src="/javascript/views/modals/new_playlist.js"></script>
<% end %>
