<section id="action-playlists">
  <h1>My Playlists</h1>
  <a href="/#new-playlist" class="playlytics-button">create playlist</a>
  <section class="playlists"></section>
</section>

<script type="text/template" id="template-playlist">
  <article>
    <a href="/playlist/{{id}}"><img src="{{image_url}}" width="50" height="50"/></a>
    <h2><a href="/playlist/{{id}}">{{name}}</a></h2>
    <h3><a href="/playlist/{{id}}">{{description}}</a></h3>
  </article>
</script>
