body {
  background-color: #f0f0f0;
  font-family: 'Alegreya Sans', 'Arial';
  font-size: 20px; }

.clear {
  clear: both; }

#searchbar {
  margin: 0px;
  top: 0px;
  position: fixed;
  background-color: #202020;
  color: #fff;
  width: 100%;
  padding: 15px; }
  #searchbar .wrapper {
    width: 960px;
    margin: 0 auto; }
  #searchbar input {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #000;
    width: 400px;
    outline: none; }

.playlytics-button {
  display: block;
  width: 100px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  border: 1px dashed #ccc;
  text-align: center; }
  .playlytics-button:hover {
    color: #413e3e;
    background-color: #fff; }

#playlytics {
  width: 960px;
  height: 500px;
  background-color: #413e3e;
  padding: 40px;
  margin: 0 auto;
  margin-top: 80px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#action-playlists > h1,
#action-playlist > h1,
#action-search > h1 {
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px; }

#action-playlist .playlist_items {
  margin-top: 20px; }
  #action-playlist .playlist_items li {
    margin-bottom: 20px; }
    #action-playlist .playlist_items li img {
      float: left;
      margin-right: 10px; }
    #action-playlist .playlist_items li a {
      color: #9f9681;
      font-size: 15px; }

#action-playlists .playlists {
  margin-top: 20px;
  overflow: auto; }
  #action-playlists .playlists a {
    text-decoration: none;
    color: #fff; }
    #action-playlists .playlists a:hover {
      text-decoration: underline; }
  #action-playlists .playlists article {
    width: 250px;
    float: left;
    margin-bottom: 30px; }
    #action-playlists .playlists article img {
      float: left;
      margin-right: 10px; }
    #action-playlists .playlists article h3 {
      font-size: 14px; }
